<template>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-4">Site Hogar de Paso</h1>
        <p class="lead">Desarrollo Software de Ultima Generación</p>
        <p> Universidad de Nariño</p>
        <p class="lead">Ingenieria de Sistemas</p>
        <hr class="my-4">
        <p class="display-5">Hecho a mano por:</p>        
          <p class="display-4 ">Daniel Tutistar y Kevin Yama</p>        
      </div>
    </div>
  </template>
  
