<template>
  <div class="home">
    <div id="tabla-mascotas-formulario" class=" container card-deck justify-content-center">
    <FormularioMascotas @add-mascota="agregarMascota" />
    <tablaAdminMascotas :mascotas="mascotas" @del-mascota="eliminarMascota" @put-mascota="actutalizarMascota"/>
    </div>
  </div>
</template>
  
  
<script>
// @ is an alias to /src
  import FormularioMascotas from "@/components/FormMascota.vue";
  import tablaAdminMascotas from "@/components/TablaMascotasAdmin.vue";
  import axios from "axios";


  export default {
    name: "AddMascota",
    components: {
      FormularioMascotas,
      tablaAdminMascotas
    },
    data() {
        return {
            mascotas: []
        }
    },
    methods: {
      async agregarMascota(mascota) {
        const outMascota = [mascota]; 
        this.mascotas = [...outMascota, ...this.mascotas]              
        this.$swal.fire({
          title: `Mascota Agregada!`,
          text: `Mascota ${mascota.nombre || 'sin Nombre'} ha sido agregada exitosamente. ID unico: ${mascota.id}`,
          icon: 'success'
        });
      },
      async eliminarMascota(mascota) {
        let auxMascotas = this.mascotas.filter((val) => {
          return val.id != mascota.id;
        });        

        if(this.mascotas.length > auxMascotas.length){
          this.$swal.fire({
            title: `Mascota Eliminada!`,
            text: `Mascota ${mascota.nombre || 'sin Nombre'} con ID unico: ${mascota.id}, ha sido eliminada exitosamente.`,
            icon: 'success'
          })
        }else{ 
          this.$swal.fire({
            title: `No fue posible eliminar la mascota!`,            
            icon: 'error'
          });
        }

        this.mascotas=auxMascotas;
      },
      async actutalizarMascota(mascota) {
        this.$swal.fire({
            title: `Mascota Modificada!`,
            text: `Mascota ${mascota.nombre || 'sin Nombre'} ha sido modificada exitosamente. ID unico: ${mascota.id}`,
            icon: 'success'
        })
      }
    },
    mounted () {
        const headers = { 
            "Accept": "*/*",
            "Content-Type": "application/json",
            "Access-Control-Allow-Credentials":true
        };
        axios
          .get('http://localhost:5000/Mascotas/', {headers})
          .then((response) => {                
              this.mascotas = response.data;
          })
          .catch((respuesta) => {
              console.log("error al buscar mascotas");
              console.log("hubo un error al traer la info" + respuesta);
          });
    }
  };
</script>
