<template>
  <div class="formulario-adopcion">
    <FormularioAdopcion @adopcion="adopcion" :mascota="mascota"/>
  </div>
</template>
    
    
    <script>
// @ is an alias to /src
import FormularioAdopcion from "@/components/FormularioAdopcion.vue";
import axios from 'axios';

export default {
  name: "adopcion-mascota",
  components: {
    FormularioAdopcion,
  },
  data() {
      return {
        personas: [],
        mascota: null,
      };
  },
  methods: {
    adopcion(adopcionObj, persona){
        this.$swal.fire({
          title: `Mascota adoptada Exitosamente!`,
          text: ` Mascota ${this.mascota.nombre} adoptada por ${persona.nombre_adoptante}, Id de adopcion: ${adopcionObj.id}.`,
          icon: "success",
        }).then(() =>{
          this.$router.push("/");
        });
    }
  },
  beforeCreate () {
        const idMascota = this.$route.params.id;
        const headers = { 
            "Accept": "*/*",
            "Content-Type": "application/json",              
            "Access-Control-Allow-Credentials":true
        };
        axios              
            .get(`http://localhost:5000/Mascotas/${idMascota}`,  {headers})
            .then((response) => {
                console.log(response);  
                this.mascota =  response.data;             
            }).catch((respuesta) => {
              console.log("error al buscar mascotas");
              console.log("hubo un error al traer la info" + respuesta);
            });
      }  

};
</script>
    