<template>
  <div class="home">
    <tabla-mascotas
          :mascotas="mascotas"
    />

  </div>
</template>


<script>
// @ is an alias to /src
import TablaMascotas  from '@/components/TablaMascotas.vue';
import axios from 'axios';

export default {
    name: 'HomeView',
    components: {
        TablaMascotas 
    },
    data() {
        return {
            mascotas: []
        }
    },
    mounted () { 
        const headers = { 
            "Accept": "/*",
            "Content-Type": "application/json",
            "Access-Control-Allow-Credentials":true
        };
        const Url = `http://localhost:5000/Mascotas/?id_tipo_animal=1&estado_adopcion=NOADOPTADOS`;
        
        axios
            .get(Url, {headers})
            .then((response) => {                
                this.mascotas = response.data;
            })
            .catch((respuesta) => {
                console.log("error al buscar mascotas");
                console.log("hubo un error al traer la info" + respuesta);
            });
    }
}
</script>
