<template>
  <div class="home">
    <Detalles 
    :mascota="mascotas" />
  </div>
</template>
  
  
  <script>
  // @ is an alias to /src
  import Detalles  from '@/components/Detalles.vue';
  import axios from 'axios';
  
  export default {
      name: 'raza-info',
      components: {
        Detalles 
      },
      data() {
          return {          
            mascotas: null,                          
        }                                         
       },
       beforeCreate () {
          const idMascota = this.$route.params.id;
          const headers = { 
              "Accept": "*/*",
              "Content-Type": "application/json",              
              "Access-Control-Allow-Credentials":true
          };
          axios              
              .get(`http://localhost:5000/Mascotas/${idMascota}`,  {headers})
              .then((response) => {
                  console.log(response);  
                  this.mascotas =  response.data;             
              }).catch((respuesta) => {
                console.log("error al buscar mascotas");
                console.log("hubo un error al traer la info" + respuesta);
              });
        }  
       
  }
  </script>
  