<template>
  <div id="detalles-app" class="justify-content-center">
    <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <img class="card-img-top m-2" width="300" height="200" :src="mascota.foto" alt="Card image cap" />
          </div>
          <div class="col-sm-8">
                    <div class="card-body elegant-color mb-4">
         
          <div class="row">
            <div class="col">
              <p class="text-capitalize fw-bolder fs-3">{{ mascota.nombre || "Sin Nombre Aun" }}</p>            
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class=" fs-5"> <span class="text-uppercase fw-bolder fs-5">Raza:</span> {{ mascota.raza.nombre || "Desconocida" }}</p>            
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class=" fs-5"> <span class="text-uppercase fw-bolder fs-5">Descripcion:</span> {{ mascota.raza.descripcion || "Desconocida" }}</p>            
            </div>
          </div>
          

          <div class="row">
            <div class="col">
              <p class=" fs-5"> <span class="text-uppercase fw-bolder fs-5">Edad: </span>{{mascota.fecha_nacimiento? calcularEdad(mascota.fecha_nacimiento): "Desconocida" }}</p>            
            </div>
            <div class="col">
              <p class=" fs-5"> <span class="text-uppercase fw-bolder fs-5">Fecha de Nacimiento: </span>{{mascota.fecha_nacimiento || "Desconocida" }}</p>   
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <a @click="$router.back()" class="col btn btn-primary">Atras</a>
            </div>
            <div class="col">
              <router-link v-bind:to="'/Adoptar/' + mascota.id"  class="col btn btn-success">Adoptar</router-link>         
            </div>
          </div>
        </div>
          </div>
        </div>

        


      </div>
  </div>
</template>
  
  <script>
export default {
  name: "detalles-app",
  props: {
    mascota: {},
  },
  methods: {
    calcularEdad(fechaNacimieto){
          var hoy = new Date();
          var cumpleanos = new Date(fechaNacimieto);
          var edad = hoy.getFullYear() - cumpleanos.getFullYear();
          var m = hoy.getMonth() - cumpleanos.getMonth();

          if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
              edad--;
          }

          if(edad > 1){
            return `${edad} ${edad === 1? "año":"años"}`;
          }else{
            return `${m || 'menos de un'} ${m <= 1? 'mes':'meses'}`;
          }
        }
  }
};
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
</style>