<template>
    <div class="card justify-content-center mx-auto" style="width: 30rem">
      <div class="fs-2 text-center fw-bolder mt-4 text-capitalize">Fromulario de Adopcion de {{mascota.nombre || "" }} Un {{mascota.raza.nombre}} {{!mascota.nombre? "Aun sin Nombre":""}} </div>
      <form @submit.prevent="enviarFormulario">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input id="mascota_nombre" v-model="persona.nombre_adoptante" type="text" class="form-control" required/>
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo Identificacion</label>
          <input v-model="persona.tipo_documento_adoptante" type="text" class="form-control" required/>
        </div>
        <div class="mb-3">
          <label class="form-label">Identificacion</label>
          <input v-model="persona.numero_documento_adoptante" type="text" class="form-control" required/>
        </div>
        <div class="mb-3">
          <label class="form-label">Telefono</label>
          <input v-model="persona.telefono_adoptante" type="tel" class="form-control" required/>
        </div>
        <div class="mb-3">
          <label class="form-label">Correo</label>
          <input v-model="persona.correo_adoptante" type="email" class="form-control" />
        </div>
        <div class="mb-3 text-end">
            <a type="link"  @click="$router.back()" class="btn btn-danger">Atras</a>
            <button type="submit" class="btn btn-success">Adoptar</button>
        </div>
      </form>
    </div>

</template>
  
<script>
  import axios from "axios";
  export default {
    name: "form-adopcion",
    props: {
        mascota: {},
    },
    data() {
      return {
        persona: {
          nombre_adoptante: "",
          correo_adoptante: "",
          telefono_adoptante: "",
          tipo_documento_adoptante: "",
          numero_documento_adoptante: "",
          id_mascota: this.$route.params.id,
        },
      };
    },
    methods: {
      enviarFormulario() {
        const body = {
          "nombre_adoptante": this.persona.nombre_adoptante,
          "correo_adoptante": this.persona.correo_adoptante,
          "telefono_adoptante": this.persona.telefono_adoptante,
          "tipo_documento_adoptante": this.persona.tipo_documento_adoptante,
          "numero_documento_adoptante": this.persona.numero_documento_adoptante,
          "id_mascota": this.persona.id_mascota
        };
        const headers = {
          "Accept": "*/*",
          "Content-Type": "application/json",
          "Access-Control-Allow-Credentials": true
        };
        axios
          .post('http://localhost:5000/Adopcion/', body, {
            headers
          })
          .then((response) => {
            console.log(response);   
            this.$emit("adopcion", response.data, this.persona);
          })
          .catch((respuesta) => {
            console.log("error al ser adoptado");
            console.log("error al ser adoptado " + respuesta);
          });
      },

    },
  };
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  padding: 10px 10px 10px 10px;
}

.btn {
  padding: 10px 10px 10px 10px;
  margin-right: 5px;
  margin-left: 10px;
}

</style>
  