<template>
  <div class="form-mascota" style="padding: 0px">
      <div class="card justify-content-center" style="width: 30rem">
        <form @submit.prevent="evniarFormularioMascotas" action="#" method="post">
          <div class="fs-2 text-center fw-bolder">Agregar Mascota</div>
          
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input id="mascota_nombre" v-model="mascota.nombre" type="text" class="form-control" />
          </div>
          
         <div class="mb-3">
           <label class="form-label">Raza</label>
            <select id="raza" v-model="mascota.razaId" class="form-select">
              <option v-for="raza in razas" :key="raza.id" v-bind:value="raza.id">{{raza.tipo_animal.nombre}} - {{raza.nombre}}</option>
            </select>
         </div>
         
          <div class="mb-3">
            <label class="form-label">Foto Url</label>
            <input id="mascota-foto" v-model="mascota.foto" type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Nacido el </label>
            <input
              id="mascota_fencha_nacimineto"
              v-model="mascota.fecha_nacimiento"
              type="date"
              class="form-control"
            />
          </div>

          <div class="mb-3 text-end">
            <button type="reset" class="btn btn-dark">Limpiar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
    
    </div>
  </div>
</template>
    
<script>
  import axios from "axios";
  export default {
    name: "form-mascota",
    data() {
      return {
        mascota: {
          foto: "",
          nombre: "",
          razaId: "",
          fecha_nacimiento: "",
        },
        razas: []
      };
    },
    methods: {
      evniarFormularioMascotas() {
        //this.$emit("add-mascota", this.mascota);
        const body = {
            "nombre": this.mascota.nombre,
            "id_raza": this.mascota.razaId,
            "fecha_nacimiento": this.mascota.fecha_nacimiento,
            "foto": this.mascota.foto
        };
        const headers = { 
            "Accept": "*/*",
            "Content-Type": "application/json",
            "Access-Control-Allow-Credentials":true
        };
        axios
          .post('http://localhost:5000/Mascotas', body, {headers})
          .then((response) => {                
              //console.log(response);
              this.$emit("add-mascota", response.data);
              this.mascota = {
                foto: "",
                nombre: "",
                razaId: "",
                fecha_nacimiento: "",
              }
          })
          .catch((respuesta) => {
              console.log("error al guardar nueva mascota");
              console.log("error al guardar nueva mascota " + respuesta);
          });                   
      },
    },
    beforeCreate () {
      const body = {
            "decripcion":false
        };
      const headers = { 
          "Accept": "*/*",
          "Content-Type": "application/json",
          "Access-Control-Allow-Credentials":true
      };
      axios
          .get('http://localhost:5000/Razas/', body, {headers})
          .then((response) => {                
              this.razas = response.data;
          })
          .catch((respuesta) => {
              console.log("error al buscar razas");
              console.log("hubo un error al traer la info" + respuesta);
          });
    }
  };
</script>
    
    <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  div {
    padding: 10px 10px 10px 10px;
  }

  .btn {
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .card {
  margin-bottom: 15px;
}
</style>
    