<template>
  <div class="pag-app">
    <div class="d-grid gap-2 col-6 mx-auto">
      <router-link to="add_mascota">
        <button class="btn btn-primary" 
        >Agregar mascota</button>  
      </router-link>
  
</div>

  </div>
</template>
  
  <script>
export default {
  name: "pag-app",
};
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
</style>