<template>
  
    <div v-if="mascotas.length < 1" class="alert alert-info" role="alert">
      No se han agregado Mascotas
    </div>
    <div v-for="mascotas in mascotas" :key="mascotas.id">

      <div class="card" style="width: 18rem">
       
        <div v-if="editando === mascotas.id">
           <div class="row card-body elegant-color mb-4">
            <div class="col">
              <label for="mascota_foto">Foto Url</label>
              <input id="mascota_foto" type="text" class="form-control" v-model="mascotas.foto" />
            </div>
           </div>
        </div>
        <div v-else>
          <img class="card-img-top" width="300" height="200" :src="mascotas.foto" alt="Card image cap" />
        </div>

        <div class="card-body elegant-color mb-4">
          <div class="row" v-if="editando === mascotas.id">
            <div class="col">
              <label for="mascota_nombre">Nombre</label>
              <input type="text" class="form-control" v-model="mascotas.nombre" />
            </div>
          </div>
          <div class="row" v-else>
            <div class="col">
              <p class="text-capitalize fw-bolder fs-3">{{ mascotas.nombre || "Sin Nombre Aun" }}</p>            
            </div>
          </div>

          <div class="row" v-if="editando === mascotas.id">
            <div class="col">          
              <label for="mascota_raza">Raza</label>
              <select id="raza" v-model="mascotas.raza.id" class="form-select">
                <option v-for="raza in razas" :key="raza.id" v-bind:value="raza.id">{{raza.tipo_animal.nombre}} - {{raza.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row" v-else>
            <div class="col">
              <p class="text-capitalize fw-bolder fs-5">Raza: {{ mascotas.raza.nombre || "Desconocida"}}</p>            
            </div>            
          </div>

          <div class="row" v-if="editando === mascotas.id">
            <div class="col">
              <label for="mascota_fecha_nacimiento">Nacido el</label>
              <input type="date" class="form-control" v-model="mascotas.fecha_nacimiento" />              
            </div>            
          </div>
          <div class="row" v-else>
            <div class="col">
              <p class="text-capitalize fw-bolder fs-5">
                Edad: {{ mascotas.fecha_nacimiento? calcularEdad(mascotas.fecha_nacimiento) : "Desconocida" }}
              </p>              
            </div>            
          </div>


          <div class="row align-items-center">
            <div v-if="!(editando === mascotas.id)">
              <router-link v-bind:to="'/info_mascota/' + mascotas.id" style="margin-right: 10px; margin-left: 5px" class="col btn btn-primary">Detalles</router-link>
            </div>
            <div class="mt-1 text-center" v-if="editando === mascotas.id">
              <button class="btn btn-success" @click="guardarMascota(mascotas)">
                💾 Guardar
              </button>
              <button class="btn btn-secondary ml-2" @click="cancelarEdicion(mascotas)">
                ❌ Cancelar
              </button>
            </div>
            <div class="mt-1 text-center" v-else>
              <button class="btn btn-secondary" @click="editarMascota(mascotas)">
                ✏️ Editar
              </button>
              <button class="btn btn-danger ml-2" @click="eliminarMascota(mascotas)">
                🗑️ Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

</template>
  
<script>
import axios from 'axios';
export default {
    name: "tabla-mascotas",
    props: {
        mascotas: Array,
    },
    data() {
        return {
            editando: null,
            razas: []
        };
    },
    methods: {
        eliminarMascota(mascota){
          console.log("enviado... delete");
          const headers = { 
            "Accept": "*/*",
            "Content-Type": "application/json",
            "Access-Control-Allow-Credentials":true
          };
          axios.delete(`http://localhost:5000/Mascotas/${mascota.id}`, {headers})
            .then(() => {
              this.$emit("del-mascota", mascota);
            });
        },
        editarMascota(mascotas) {
          const body = {
            "decripcion":false
          };
          const headers = { 
              "Accept": "*/*",
              "Content-Type": "application/json",
              "Access-Control-Allow-Credentials":true
          };
          axios
              .get('http://localhost:5000/Razas/', body, {headers})
              .then((response) => {                
                this.razas = response.data;
                this.mascotaEditada = Object.assign({}, mascotas);
                this.editando = mascotas.id;
              })
              .catch((respuesta) => {
                  console.log("error al buscar razas");
                  console.log("hubo un error al traer la info" + respuesta);
              });
        },
        guardarMascota(mascota) {
            const body = {
            "nombre": mascota.nombre,
            "id_raza": mascota.raza.id,
            "fecha_nacimiento": mascota.fecha_nacimiento,
            "foto": mascota.foto
            };
            const headers = { 
                "Accept": "*/*",
                "Content-Type": "application/json",
                "Access-Control-Allow-Credentials":true
            };
            axios
              .put(`http://localhost:5000/Mascotas/${mascota.id}`, body, {headers})
              .then((response) => {   
                  this.editando = null; 
                  this.$emit("put-mascota", response.data);
                    if (!mascota.nombre.length) {
                        return;
                    }                             
              })
              .catch((respuesta) => {
                  console.log("error al guardar cambios de mascota");
                  console.log("error al guardar cambios de mascota " + respuesta);
              });

           
        },
        cancelarEdicion(mascotas) {
            Object.assign(mascotas, this.mascotaEditada);
            this.editando = null;
        },
        calcularEdad(fechaNacimieto){
            var hoy = new Date();
            var cumpleanos = new Date(fechaNacimieto);
            var edad = hoy.getFullYear() - cumpleanos.getFullYear();
            var m = hoy.getMonth() - cumpleanos.getMonth();

            if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
                edad--;
            }

            if(edad > 1){
              return `${edad} ${edad === 1? "año":"años"}`;
            }else{
              return `${m || 'menos de un'} ${m <= 1? 'mes':'meses'}`;
            }
        }
    },
};
</script>
  
<style scoped>
  .btn {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
  }
  .card {
    margin-bottom: 15px;
  }
</style>