<template>
  <div id="tabla-mascotas" class="container card-deck justify-content-center">
    <div v-if="mascotas.length < 1" class="alert alert-info" role="alert">
      No se han agregado Mascotas
    </div>
    <tr v-for="mascotas in mascotas" :key="mascotas.id">
      <div class="card" style="width: 18rem">
          <img class="card-img-top" width="300" height="200" :src="mascotas.foto" alt="Card image cap" />

        <div class="card-body elegant-color mb-4">
         
          <div class="row">
            <div class="col">
              <p class="text-capitalize fw-bolder fs-3">{{ mascotas.nombre || "Sin Nombre Aun" }}</p>            
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-capitalize fw-bolder fs-5">Raza: {{ mascotas.raza.nombre || "Desconocida" }}</p>            
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="text-capitalize fw-bolder fs-5">Edad: {{mascotas.fecha_nacimiento? calcularEdad(mascotas.fecha_nacimiento) : "Desconocida" }}</p>            
            </div>
          </div>

          <div class="row align-items-center">
            <router-link v-bind:to="'/info_mascota/' + mascotas.id" style="margin-right: 10px; margin-left: 5px" class="col btn btn-primary">Detalles</router-link>
            <router-link v-bind:to="'/Adoptar/' + mascotas.id" style="margin-right: 5px; margin-left: 10px" class="col btn btn-success">Adoptar</router-link>         
          </div>
        </div>
      </div>
    </tr>
    <Footer/>
  </div>
</template>
  
<script>
export default {
    name: "tabla-mascotas",
    props: {
        mascotas: Array,
    },
    data() {
        return {
            editando: null,
        };
    },
    methods: {
        calcularEdad(fechaNacimieto){
          var hoy = new Date();
          var cumpleanos = new Date(fechaNacimieto);
          var edad = hoy.getFullYear() - cumpleanos.getFullYear();
          var m = hoy.getMonth() - cumpleanos.getMonth();

          if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
              edad--;
          }

          if(edad > 1){
            return `${edad} ${edad === 1? "año":"años"}`;
          }else{
            return `${m || 'menos de un'} ${m <= 1? 'mes':'meses'}`;
          }
        }
    },
};
</script>
  
<style scoped>
  .btn {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
  }
  .card {
  margin-bottom: 15px;
}
</style>
