<template>
    <div id="app" class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <Header/>      
      </div>
    </div>
  </div>
</template>

<script>

import Header from "./components/Header.vue";

export default {
  name: "App",
  components: { 
    Header
  }
};
</script>

<style>
button {
  background: #009435;
  
}
body {
  background: #a6b1b9;
}
</style>
